<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hrsystem.mapper.AuthenAccountMapper">
	<resultMap type="com.company.hrsystem.dto.AuthenAccountDto" id="authenResult">
		<result property="systemEmail" jdbcType="VARCHAR" column="system_email"/>
		<result property="systemPassword" jdbcType="VARCHAR" column="system_password"/>
		
		<!-- map to list property in java class -->
		<collection property="authenRoleModels" ofType="com.company.hrsystem.dto.AuthenRoleDto">
			<result property="roleName" jdbcType="VARCHAR" column="role_name"/>
		</collection>
	</resultMap>
	
	<select id="findAuthenAccountByEmail" resultMap="authenResult" parameterType="java.lang.String">
		SELECT
			sa.system_email,
			sa.system_password,
			sr.role_name
		FROM system_account sa
			LEFT JOIN system_account_role sar
				ON sa.system_account_id = sar.system_account_id
			LEFT JOIN system_role sr
				ON sar.system_role_id = sr.system_role_id
		WHERE 
			sa.system_email = #{accEmail, jdbcType = VARCHAR}       
	</select>
</mapper>