<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hrsystem.mapper.CommentMapper">
	<insert id="insertComment" parameterType="com.company.hrsystem.dto.CommentDto">
		INSERT INTO comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="supervisorActionId != null">
				supervisor_action_id,
			</if>
			<if test="approverActionId != null">
				approver_action_id,
			</if>
			<if test="commentDetail != null">
				comment_detail,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="supervisorActionId != null">
				#{supervisorActionId, jdbcType=INTEGER},
			</if>
			<if test="approverActionId != null">
				#{approverActionId, jdbcType=INTEGER},
			</if>
			<if test="commentDetail != null">
				#{commentDetail, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>