<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.EmployeeDocumentMapper">
	<insert id="insertEmployeeDocument">
		insert into employee_document (employee_id, document_id)
		values
		<foreach collection="documentIds" item="item" open="("
			separator="),(" close=")">
			#{employee.employeeId}, #{item}
		</foreach>
	</insert>
</mapper>