<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.EmployeePositionMapper">
	<insert id="insertEmployeePosition">
		insert into employee_position (employee_id, position_id, start_date)
		values
		<foreach collection="positions" item="item" open="("
			separator="),(" close=")">
			#{employee.employeeId},
			#{item.positionId},
			#{item.startDate}
		</foreach>
	</insert>
	
	<update id="updateEmployeePosition" parameterType="map">
		<foreach collection="positions" item="item" open=" " separator=";" close=" ">
			UPDATE employee_position 
			<set>
				<if test="item.positionId != null">
					position_id = #{item.positionId}, 
				</if>
				<if test="item.deletedFlag != null">
					deleted_flag = #{item.deletedFlag}, 
				</if>
				<if test="item.startDate != null">
					start_date = #{item.startDate}, 
				</if>
				<if test="item.endDate != null">
					end_date = #{item.endDate}, 
				</if>
				updated_at = #{updatedAt}, 
			</set>
			WHERE 
				employee_position_id = #{item.employeePositionId} 
		</foreach>
	</update>
	
	<resultMap type="com.company.hrsystem.dto.EmployeePositionDto" 
		id="findLastInsertListEmployeePosition">
		<result column="employee_position_id" jdbcType="INTEGER" property="employeePositionId"/>
		<result column="employee_id" jdbcType="INTEGER" property="employeeId"/>
		<result column="position_id" jdbcType="INTEGER" property="positionId"/>
		<result column="start_date" jdbcType="VARCHAR" property="startDate"/>
	</resultMap>
	<select id="findLastInsertListEmployeePosition" parameterType="INTEGER" 
		resultMap="findLastInsertListEmployeePosition">
		SELECT 
			ep.employee_position_id,
			ep.employee_id,
			ep.position_id,
			ep.start_date
		FROM employee_position ep
		WHERE ep.employee_id = #{employeeId}
			AND ep.created_at = (
				SELECT sep.created_at
				FROM employee_position sep
				WHERE sep.employee_id = #{employeeId}
				ORDER BY sep.employee_position_id DESC
				LIMIT 1
			)
	</select>
</mapper>