<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.EmployeePositionMapper">
	<insert id="insertEmployeePosition">
		insert into employee_position (employee_id, position_id, start_date)
		values
		<foreach collection="positions" item="item" open="("
			separator="),(" close=")">
			#{employee.employeeId},
			#{item.positionId},
			#{item.startDate}
		</foreach>
	</insert>
	
	<update id="updateEmployeePosition" parameterType="map">
		<foreach collection="positions" item="item" open=" " separator=";" close=" ">
			UPDATE employee_position 
			<set>
				<if test="item.positionId != null">
					position_id = #{item.positionId}, 
				</if>
				<if test="item.deletedFlag != null">
					deleted_flag = #{item.deletedFlag}, 
				</if>
				<if test="item.startDate != null">
					start_date = #{item.startDate}, 
				</if>
				<if test="item.endDate != null">
					end_date = #{item.endDate}, 
				</if>
				updated_at = #{updatedAt}, 
			</set>
			WHERE 
				employee_position_id = #{item.employeePositionId} 
		</foreach>
	</update>
</mapper>