<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.EmployeeDocumentMapper">
	<insert id="insertEmployeeDocument">
		INSERT INTO employee_document (employee_id, document_id)
		VALUES 
		<foreach collection="documents" item="item" open="("
			separator="),(" close=")">
			#{employee.employeeId}, #{item.documentId}
		</foreach>
	</insert>
	
	<update id="updateEmployeeDocument" parameterType="map">
		<foreach collection="documents" item="item" open=" " separator=";" close=" ">
			UPDATE employee_document 
			<set>
				<if test="item.documentId != null">
					document_id = #{item.documentId}, 
				</if>
				<if test="item.deletedFlag != null">
					deleted_flag = #{item.deletedFlag}, 
				</if>
				updated_at = #{updatedAt}, 
			</set>
			WHERE 
				employee_document_id = #{item.employeeDocumentId} 
		</foreach>
	</update>
</mapper>