<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hrsystem.mapper.PositionMapper">
	<insert id="insertPosition"
		parameterType="com.company.hrsystem.request.PositionRequest"
		useGeneratedKeys="true" keyProperty="positionId" keyColumn="position_id">
		insert into position
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="positionName != null">
				position_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{positionName, jdbcType=VARCHAR},
		</trim>
	</insert>

	<update id="updatePosition"
		parameterType="com.company.hrsystem.request.PositionRequest">
		update position
		<set>
			<if test="positionName != null">
				position_name = #{positionName, jdbcType=VARCHAR},
			</if>
			<if test="deletedFlag != null">
				deleted_flag = #{deletedFlag, jdbcType=BIT},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt, jdbcType=TIMESTAMP},
			</if>
		</set>
		where position_id= #{positionId, jdbcType=INTEGER}
	</update>
	
	<resultMap type="com.company.hrsystem.dto.PositionDto" id="findAllPositions">
		<id column="position_id" jdbcType="INTEGER" property="positionId"/>
		<result column="position_name" jdbcType="VARCHAR" property="positionName"/>
	</resultMap>
	<select id="findAllPositions" resultMap="findAllPositions">
		SELECT
			position_name,
			position_id
		FROM 
			position
		WHERE
			deleted_flag = false
		ORDER BY
			position_id DESC
	</select>
</mapper>