<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.RequestEmployeeMapper">
	<insert id="insertRequestEmployee" parameterType="map">
		INSERT INTO request_employee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="requestEmployeeDto.employeeId != null and requestEmployeeDto.employeeId !='' ">
				employee_id,
			</if>
			<if test="requestDto.requestId != null and requestDto.requestId != '' ">
				request_id,
			</if>
			<if test="supervisorActionDto.supervisorActionId != null and supervisorActionDto.supervisorActionId != '' ">
				supervisor_action_id,
			</if>
			<if test="approverActionDto.approverActionId != null and approverActionDto.approverActionId != '' ">
				approver_action_id,
			</if>
			<if test="requesterActionDto.requesterActionId != null and requesterActionDto.requesterActionId != '' ">
				requester_action_id,
			</if>
			<if test="requestEmployeeDto.startDate != null and requestEmployeeDto.startDate != '' ">
				start_date,
			</if>
			<if test="requestEmployeeDto.endDate != null and requestEmployeeDto.endDate != '' ">
				end_date,
			</if>
			<if test="requestEmployeeDto.partialDate != null and requestEmployeeDto.partialDate != '' ">
				partial_date,
			</if>
			<if test="requestEmployeeDto.requestDescription != null and requestEmployeeDto.requestDescription != '' ">
				request_description,
			</if>
			<if test="requestEmployeeDto.expectedApproveDate != null and requestEmployeeDto.expectedApproveDate != '' ">
				expected_approve_date,
			</if>
			<if test="requestEmployeeDto.duration != null and requestEmployeeDto.duration != '' ">
				duration,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="requestEmployeeDto.employeeId != null and requestEmployeeDto.employeeId != '' ">
				#{requestEmployeeDto.employeeId, jdbcType=INTEGER},
			</if>
			<if test="requestDto.requestId != null and requestDto.requestId != '' ">
				#{requestDto.requestId, jdbcType=INTEGER},
			</if>
			<if test="supervisorActionDto.supervisorActionId != null and supervisorActionDto.supervisorActionId != '' ">
				#{supervisorActionDto.supervisorActionId,
				jdbcType=INTEGER},
			</if>
			<if test="approverActionDto.approverActionId != null and approverActionDto.approverActionId != '' ">
				#{approverActionDto.approverActionId, jdbcType=INTEGER},
			</if>
			<if test="requesterActionDto.requesterActionId != null and requesterActionDto.requesterActionId != '' ">
				#{requesterActionDto.requesterActionId, jdbcType=INTEGER},
			</if>
			<if test="requestEmployeeDto.startDate != null and requestEmployeeDto.startDate != '' ">
				STR_TO_DATE(#{requestEmployeeDto.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d"),
			</if>
			<if test="requestEmployeeDto.endDate != null and requestEmployeeDto.endDate != '' ">
				STR_TO_DATE(#{requestEmployeeDto.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d"),
			</if>
			<if test="requestEmployeeDto.partialDate != null and requestEmployeeDto.partialDate != '' ">
				#{requestEmployeeDto.partialDate, jdbcType=VARCHAR},
			</if>
			<if test="requestEmployeeDto.requestDescription != null and requestEmployeeDto.requestDescription != '' ">
				#{requestEmployeeDto.requestDescription,
				jdbcType=VARCHAR},
			</if>
			<if test="requestEmployeeDto.expectedApproveDate != null and requestEmployeeDto.expectedApproveDate != '' ">
				#{requestEmployeeDto.expectedApproveDate, jdbcType=VARCHAR},
			</if>
			<if test="requestEmployeeDto.duration != null and requestEmployeeDto.duration != '' ">
				#{requestEmployeeDto.duration, jdbcType=FLOAT},
			</if>
		</trim>
	</insert>

	<update id="updateRequestEmployee"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			<if test="requestStatus != null and requestStatus != '' ">
				request_status = #{requestStatus, jdbcType=VARCHAR},
			</if>
			<if test="requestDescription != null and requestDescription != '' ">
				request_description = #{requestDescription, jdbcType=VARCHAR},
			</if>
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
		<trim prefix="(" prefixOverrides="AND" suffix=")">
			<if test="supervisorActionId != null and supervisorActionId != '' ">
				AND supervisor_action_id = #{supervisorActionId, jdbcType=INTEGER}
			</if>
			<if test="approverActionId != null and approverActionId != '' ">
				AND approver_action_id = #{approverActionId, jdbcType=INTEGER}
			</if>
			<if test="requesterActionId != null and requesterActionId != '' ">
				AND requester_action_id = #{requesterActionId, jdbcType=INTEGER}
			</if>
			AND request_status = "WAITING"
		</trim>
	</update>
	
	<update id="updateRequestBySupervisor"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			request_status = #{requestStatus, jdbcType=VARCHAR},
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
			supervisor_action_id = #{supervisorActionId, jdbcType=INTEGER}
				AND request_status = "WAITING"
	</update>
	
	<update id="updateRequestByApprover"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			request_status = #{requestStatus, jdbcType=VARCHAR},
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
			approver_action_id = #{approverActionId, jdbcType=INTEGER}
				AND request_status = "WAITING"
	</update>
	
	<resultMap type="com.company.hrsystem.response.FindListTicketResponse" 
		id="findListTicketResponse">
		<id column="request_id" jdbcType="INTEGER" property="requestId"/>
		<result column="approver" jdbcType="VARCHAR" property="approver" />
		<result column="request_type_name" jdbcType="VARCHAR" property="requestType"/>
		<result column="reason_name" jdbcType="VARCHAR" property="reason"/>
		<result column="requester" jdbcType="VARCHAR" property="requester"/>
		<result column="supervisor" jdbcType="VARCHAR" property="supervisor" />
		<collection property="requestEmployee" ofType="com.company.hrsystem.dto.RequestEmployeeDto">
			<id column="request_id" jdbcType="INTEGER"/>
			<result column="start_date" jdbcType="VARCHAR" property="startDate"/>
			<result column="end_date" jdbcType="VARCHAR" property="endDate"/>
			<result column="duration" jdbcType="DOUBLE" property="duration"/>
			<result column="request_status" jdbcType="VARCHAR" property="requestStatus"/>
			<result column="expected_approve_date" jdbcType="VARCHAR" property="expectedApproveDate"/>
			<result column="approver_action_id" jdbcType="INTEGER" property="approverActionId"/>
			<result column="supervisor_action_id" jdbcType="INTEGER" property="supervisorActionId"/>
		</collection>
	</resultMap>
	<select id="findListCreatedRequestTicket" 
		parameterType="com.company.hrsystem.request.FindListTicketRequest" resultMap="findListTicketResponse">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterEmail" />) AS requester,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.expected_approve_date,
			 rs.reason_name,
			 (<include refid="getApproverEmail" />) AS approver
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
		<trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
			re.employee_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
			 <if test="requestEmployee.startDate != null">
				AND re.start_date &gt;= STR_TO_DATE(#{requestEmployee.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.endDate != null">
				AND re.end_date &lt;= STR_TO_DATE(#{requestEmployee.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.requestStatus != null">
				AND re.request_status = #{requestEmployee.requestStatus,jdbcType=VARCHAR}
			</if>
			<if test="requestTypeId != null">
				AND rq.request_type_id = #{requestTypeId, jdbcType=INTEGER}
			</if>
		</trim>
		ORDER BY
			rq.request_id DESC
	</select>
	
	<resultMap type="com.company.hrsystem.response.FindTicketRequestByIdResponse" 
		id="findRequestTicketById">
		<collection property="requestEmployee" ofType="com.company.hrsystem.dto.RequestEmployeeDto">
			<id column="request_id" jdbcType="INTEGER" property="requestId"/>
			<result column="request_type_name" jdbcType="VARCHAR" property="requestType"/>
			<result column="reason_name" jdbcType="VARCHAR" property="reason"/>
			<result column="start_date" jdbcType="VARCHAR" property="startDate"/>
			<result column="end_date" jdbcType="VARCHAR" property="endDate"/>
			<result column="duration" jdbcType="DOUBLE" property="duration"/>
			<result column="request_status" jdbcType="VARCHAR" property="requestStatus"/>
			<result column="expected_approve_date" jdbcType="VARCHAR" property="expectedApproveDate"/>
			<result column="request_description" jdbcType="VARCHAR" property="requestDescription"/>
		</collection>
		<collection property="requesterAction" ofType="com.company.hrsystem.dto.RequesterActionDto">
			<id column="requester_action_id" jdbcType="INTEGER" property="requesterActionId"/>
			<result column="requester_email" jdbcType="VARCHAR" property="requesterEmail"/>
			<result column="requester_action_type" jdbcType="VARCHAR" property="actionType"/>
			<result column="requester_updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
		</collection>
		<collection property="supervisorAction" ofType="com.company.hrsystem.dto.SupervisorActionDto">
			<id column="supervisor_action_id" jdbcType="INTEGER" property="supervisorActionId"/>
			<result column="supervisor_email" jdbcType="VARCHAR" property="supervisorEmail"/>
			<result column="supervisor_action_type" jdbcType="VARCHAR" property="actionType"/>
			<result column="supervisor_updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
		</collection>
		<collection property="approverAction" ofType="com.company.hrsystem.dto.ApproverActionDto">
			<id column="approver_action_id" jdbcType="INTEGER" property="approverActionId"/>
			<result column="approver_email" jdbcType="VARCHAR" property="approverEmail"/>
			<result column="approver_action_type" jdbcType="VARCHAR" property="actionType"/>
			<result column="approver_updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
		</collection>
	</resultMap>
	<select id="findRequestTicketById"
		resultMap="findRequestTicketById">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterEmail" />) AS requester_email,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.expected_approve_date,
			 re.request_description,
			 rs.reason_name,
			 (<include refid="getApproverEmail" />) AS approver_email,
			 (<include refid="getSuppervisorEmail" />) AS supervisor_email,
			 sua.supervisor_action_id,
			 sua.action_type AS supervisor_action_type,
			 sua.updated_at AS supervisor_updated_at,
			 apa.approver_action_id,
			 apa.action_type AS approver_action_type,
			 apa.updated_at AS approver_updated_at,
			 rqa.requester_action_id,
			 rqa.action_type AS requester_action_type,
			 rqa.updated_at AS requester_updated_at
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
				LEFT JOIN requester_action rqa
					ON rqa.requester_action_id = re.requester_action_id
		WHERE
			re.request_id = #{id, jdbcType=VARCHAR}
			AND 
			(
				rqa.requester_id = #{employeeId, jdbcType=INTEGER}
				OR sua.supervisor_id = #{employeeId, jdbcType=INTEGER}
				OR apa.approver_id = #{employeeId, jdbcType=INTEGER}
			)
		ORDER BY
			rq.request_id DESC
	</select>
	
	<select id="findListReceivedRequestTicket" resultMap="findListTicketResponse">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterEmail" />) AS requester,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.request_description,
			 re.expected_approve_date,
			 rs.reason_name,
			 (<include refid="getApproverEmail" />) AS approver,
			 (<include refid="getSuppervisorEmail" />) AS supervisor,
			 re.approver_action_id,
			 re.supervisor_action_id
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
		<trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
			(
				re.supervisor_action_id IN (
					SELECT supervisor_action_id
					FROM supervisor_action
					WHERE supervisor_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
				) OR 
				re.approver_action_id IN (
					SELECT approver_action_id
					FROM approver_action
					WHERE approver_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
				)
			)
			 <if test="requestEmployee.startDate != null">
				AND re.start_date &gt;= STR_TO_DATE(#{requestEmployee.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.endDate != null">
				AND re.end_date &lt;= STR_TO_DATE(#{requestEmployee.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.requestStatus != null">
				AND re.request_status = #{requestEmployee.requestStatus,jdbcType=VARCHAR}
			</if>
			<if test="requestTypeId != null">
				AND rq.request_type_id = #{requestTypeId, jdbcType=INTEGER}
			</if>
		</trim>
		ORDER BY
			rq.request_id DESC
	</select>
	
	<sql id="getRequesterEmail">
		SELECT 
			sa.system_email
		FROM 
			system_account sa 
		LEFT JOIN employee e 
			ON sa.system_account_id = e.system_account_id
		WHERE re.employee_id = e.employee_id
			
	</sql>
	<sql id="getApproverEmail">
		SELECT 
			sa.system_email
		FROM 
			system_account sa 
		LEFT JOIN employee e
			ON sa.system_account_id = e.system_account_id
		WHERE apa.approver_id = e.employee_id
				
	</sql>
	<sql id="getSuppervisorEmail">
		SELECT 
			sa.system_email
		FROM 
			system_account sa 
		LEFT JOIN employee e
			ON sa.system_account_id = e.system_account_id
		WHERE sua.supervisor_id = e.employee_id
	</sql>
	
	<resultMap type="com.company.hrsystem.dto.RequestEmployeeDto" id="findCurrentRequestEmployee">
		<id column="request_id" jdbcType="INTEGER" property="requestId"/>
		<result column="request_status" jdbcType="VARCHAR" property="requestStatus"/>
	</resultMap>
	<select id="findCurrentRequestEmployee" resultMap="findCurrentRequestEmployee">
		SELECT
			request_id,
		 	request_status
		FROM 
			request_employee
		WHERE
		<trim prefix="(" prefixOverrides="AND" suffix=")">
			<if test="supervisorActionId != null and supervisorActionId != '' ">
				AND supervisor_action_id = #{supervisorActionId, jdbcType=INTEGER}
			</if>
			<if test="approverActionId != null and approverActionId != '' ">
				AND approver_action_id = #{approverActionId, jdbcType=INTEGER}
			</if>
			<if test="requesterActionId != null and requesterActionId != '' ">
				AND requester_action_id = #{requesterActionId, jdbcType=INTEGER}
			</if>
		</trim>
	</select>
</mapper>