<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.hrsystem.mapper.RequestEmployeeMapper">
	<insert id="insertRequestEmployee" parameterType="map">
		INSERT INTO request_employee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="requestEmployeeDto.employeeId != null">
				employee_id,
			</if>
			<if test="requestDto.requestId != null">
				request_id,
			</if>
			<if test="supervisorActionDto.supervisorActionId != null">
				supervisor_action_id,
			</if>
			<if test="approverActionDto.approverActionId != null">
				approver_action_id,
			</if>
			<if test="requestEmployeeDto.startDate != null">
				start_date,
			</if>
			<if test="requestEmployeeDto.endDate != null">
				end_date,
			</if>
			<if test="requestEmployeeDto.partialDate != null">
				partial_date,
			</if>
			<if test="requestEmployeeDto.requestDescription != null">
				request_description,
			</if>
			<if test="requestEmployeeDto.expectedApproveDate != null">
				expected_approve_date,
			</if>
			<if test="requestEmployeeDto.duration != null">
				duration,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="requestEmployeeDto.employeeId != null">
				#{requestEmployeeDto.employeeId, jdbcType=INTEGER},
			</if>
			<if test="requestDto.requestId != null">
				#{requestDto.requestId, jdbcType=INTEGER},
			</if>
			<if test="supervisorActionDto.supervisorActionId != null">
				#{supervisorActionDto.supervisorActionId,
				jdbcType=INTEGER},
			</if>
			<if test="approverActionDto.approverActionId != null">
				#{approverActionDto.approverActionId, jdbcType=INTEGER},
			</if>
			<if test="requestEmployeeDto.startDate != null">
				STR_TO_DATE(#{requestEmployeeDto.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d"),
			</if>
			<if test="requestEmployeeDto.endDate != null">
				STR_TO_DATE(#{requestEmployeeDto.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d"),
			</if>
			<if test="requestEmployeeDto.partialDate != null">
				#{requestEmployeeDto.partialDate, jdbcType=VARCHAR},
			</if>
			<if test="requestEmployeeDto.requestDescription != null">
				#{requestEmployeeDto.requestDescription,
				jdbcType=VARCHAR},
			</if>
			<if test="requestEmployeeDto.expectedApproveDate != null">
				STR_TO_DATE(#{requestEmployeeDto.expectedApproveDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d"),
			</if>
			<if test="requestEmployeeDto.duration != null">
				#{requestEmployeeDto.duration, jdbcType=FLOAT},
			</if>
		</trim>
	</insert>

	<update id="updateRequestEmployee"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			<if test="requestStatus != null">
				request_status = #{requestStatus, jdbcType=VARCHAR},
			</if>
			<if test="requestDescription != null">
				request_description = #{requestDescription, jdbcType=VARCHAR},
			</if>
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
			request_id = #{requestId, jdbcType=INTEGER}
				AND request_status = "WAITING"
	</update>
	
	<update id="updateRequestBySupervisor"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			request_status = #{requestStatus, jdbcType=VARCHAR},
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
			supervisor_action_id = #{supervisorActionId, jdbcType=INTEGER}
				AND request_status = "WAITING"
	</update>
	
	<update id="updateRequestByApprover"
		parameterType="com.company.hrsystem.dto.RequestEmployeeDto">
		UPDATE request_employee
		<set>
			request_status = #{requestStatus, jdbcType=VARCHAR},
			updated_at = #{updatedAt, jdbcType=TIMESTAMP}
		</set>
		WHERE
			approver_action_id = #{approverActionId, jdbcType=INTEGER}
				AND request_status = "WAITING"
	</update>
	
	<resultMap type="com.company.hrsystem.response.FindListTicketResponse" 
		id="findListTicketResponse">
		<id column="request_id" jdbcType="INTEGER" property="requestId"/>
		<result column="approver" jdbcType="VARCHAR" property="approver" />
		<result column="request_type_name" jdbcType="VARCHAR" property="requestType"/>
		<result column="reason_name" jdbcType="VARCHAR" property="reason"/>
		<result column="requester" jdbcType="VARCHAR" property="requester"/>
		<result column="supervisor" jdbcType="VARCHAR" property="supervisor"/>
		<collection property="requestEmployee" ofType="com.company.hrsystem.dto.RequestEmployeeDto">
			<id column="request_id" jdbcType="INTEGER"/>
			<result column="start_date" jdbcType="VARCHAR" property="startDate"/>
			<result column="end_date" jdbcType="VARCHAR" property="endDate"/>
			<result column="duration" jdbcType="DOUBLE" property="duration"/>
			<result column="request_status" jdbcType="VARCHAR" property="requestStatus"/>
			<result column="expected_approve_date" jdbcType="VARCHAR" property="expectedApproveDate"/>
			<result column="request_description" jdbcType="VARCHAR" property="requestDescription"/>
		</collection>
	</resultMap>
	<select id="findListCreatedRequestTicket" 
		parameterType="com.company.hrsystem.request.FindListTicketRequest" resultMap="findListTicketResponse">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterName" />) AS requester,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.request_description,
			 re.expected_approve_date,
			 rs.reason_name,
			 (<include refid="getApproverName" />) AS approver,
			 (<include refid="getSuppervisorName" />) AS supervisor
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
		<trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
			re.employee_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
			 <if test="requestEmployee.startDate != null">
				AND re.start_date &gt;= STR_TO_DATE(#{requestEmployee.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.endDate != null">
				AND re.end_date &lt;= STR_TO_DATE(#{requestEmployee.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.requestStatus != null">
				AND re.request_status = #{requestEmployee.requestStatus,jdbcType=VARCHAR}
			</if>
			<if test="requestTypeId != null">
				AND rq.request_type_id = #{requestTypeId, jdbcType=INTEGER}
			</if>
		</trim>
		ORDER BY
			rq.request_id DESC
	</select>
	
	<resultMap type="com.company.hrsystem.response.FindTicketRequestByIdResponse" 
		id="findRequestTicketById">
		<id column="request_id" jdbcType="INTEGER" property="requestId"/>
		<result column="request_type_name" jdbcType="VARCHAR" property="requestType"/>
		<result column="reason_name" jdbcType="VARCHAR" property="reason"/>
		<result column="requester" jdbcType="VARCHAR" property="requester"/>
		<result column="supervisor" jdbcType="VARCHAR" property="supervisor"/>
		<result column="approver" jdbcType="VARCHAR" property="approver"/>
		<collection property="requestEmployee" ofType="com.company.hrsystem.dto.RequestEmployeeDto">
			<id column="request_id" jdbcType="INTEGER"/>
			<result column="start_date" jdbcType="VARCHAR" property="startDate"/>
			<result column="end_date" jdbcType="VARCHAR" property="endDate"/>
			<result column="duration" jdbcType="DOUBLE" property="duration"/>
			<result column="request_status" jdbcType="VARCHAR" property="requestStatus"/>
			<result column="expected_approve_date" jdbcType="VARCHAR" property="expectedApproveDate"/>
			<result column="request_description" jdbcType="VARCHAR" property="requestDescription"/>
		</collection>
		<collection property="supervisorAction" ofType="com.company.hrsystem.dto.SupervisorActionDto">
			<id column="supervisor_action_id" jdbcType="INTEGER" property="supervisorActionId"/>
			<result column="supervisor_action_type" jdbcType="VARCHAR" property="actionType"/>
			<result column="supervisor_updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
		</collection>
		<collection property="approverAction" ofType="com.company.hrsystem.dto.ApproverActionDto">
			<id column="approver_action_id" jdbcType="INTEGER" property="approverActionId"/>
			<result column="approver_action_type" jdbcType="VARCHAR" property="actionType"/>
			<result column="approver_updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
		</collection>
		<collection property="comments" ofType="com.company.hrsystem.dto.CommentDto">
			<id column="comment_id" jdbcType="INTEGER" property="commentId"/>
			<result column="comment_supervisor_action_id" jdbcType="VARCHAR" property="supervisorActionId"/>
			<result column="comment_approver_action_id" jdbcType="VARCHAR" property="approverActionId"/>
			<result column="comment_detail" jdbcType="VARCHAR" property="commentDetail"/>
			<result column="comment_created_at" jdbcType="TIMESTAMP" property="createdAt"/>
		</collection>
	</resultMap>
	<select id="findRequestTicketById" parameterType="string" 
		resultMap="findRequestTicketById">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterName" />) AS requester,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.expected_approve_date,
			 re.request_description,
			 rs.reason_name,
			 (<include refid="getApproverName" />) AS approver,
			 (<include refid="getSuppervisorName" />) AS supervisor,
			 sua.supervisor_action_id,
			 sua.action_type AS supervisor_action_type,
			 sua.updated_at AS supervisor_updated_at,
			 apa.approver_action_id,
			 apa.action_type AS approver_action_type,
			 apa.updated_at AS approver_updated_at,
			 com.comment_id,
			 com.supervisor_action_id AS comment_supervisor_action_id,
			 com.approver_action_id AS comment_approver_action_id,
			 com.comment_detail,
			 com.created_at AS comment_created_at
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
				LEFT JOIN comment com
					ON apa.approver_action_id = com.approver_action_id
						OR sua.supervisor_action_id = com.supervisor_action_id
		WHERE
			re.request_id = #{id, jdbcType=VARCHAR}
	</select>
	
	<select id="findListReceivedRequestTicket" resultMap="findListTicketResponse">
		SELECT
			 rt.request_type_name,
			 (<include refid="getRequesterName" />) AS requester,
			 re.request_id,
			 re.start_date,
			 re.end_date,
			 re.duration,
			 re.request_status,
			 re.request_description,
			 re.expected_approve_date,
			 rs.reason_name,
			 (<include refid="getApproverName" />) AS approver,
			 (<include refid="getSuppervisorName" />) AS supervisor
		FROM request_employee re
				LEFT JOIN request rq 
					ON rq.request_id = re.request_id
				LEFT JOIN request_type rt
					ON rt.request_type_id = rq.request_type_id
				LEFT JOIN reason rs
					ON rs.reason_id = rq.reason_id
				LEFT JOIN approver_action apa
					ON apa.approver_action_id = re.approver_action_id
				LEFT JOIN supervisor_action sua
					ON sua.supervisor_action_id = re.supervisor_action_id
		<trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
			(
				re.supervisor_action_id IN (
					SELECT supervisor_action_id
					FROM supervisor_action
					WHERE supervisor_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
				) OR 
				re.approver_action_id IN (
					SELECT approver_action_id
					FROM approver_action
					WHERE approver_id = #{requestEmployee.employeeId, jdbcType=INTEGER}
				)
			)
			 <if test="requestEmployee.startDate != null">
				AND re.start_date &gt;= STR_TO_DATE(#{requestEmployee.startDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.endDate != null">
				AND re.end_date &lt;= STR_TO_DATE(#{requestEmployee.endDate,
				jdbcType=VARCHAR},
				"%Y-%m-%d")
			</if>
			<if test="requestEmployee.requestStatus != null">
				AND re.request_status = #{requestEmployee.requestStatus,jdbcType=VARCHAR}
			</if>
			<if test="requestTypeId != null">
				AND rq.request_type_id = #{requestTypeId, jdbcType=INTEGER}
			</if>
		</trim>
		ORDER BY
			rq.request_id DESC
	</select>
	
	<select id="findRequestIdBySupervisorActionId" parameterType="Integer" 
		resultType="Integer">
		SELECT re.request_id
		FROM request_employee re
		WHERE re.supervisor_action_id = #{id, jdbcType=INTEGER}
	</select>
	
	<select id="findRequestIdByApproverActionId" parameterType="Integer" 
		resultType="Integer">
		SELECT re.request_id
		FROM request_employee re
		WHERE re.approver_action_id = #{id, jdbcType=INTEGER}
	</select>
	
	<sql id="getRequesterName">
		SELECT SUBSTRING_INDEX (
				(SELECT sa.system_email
					FROM system_account sa LEFT JOIN employee e
						ON sa.system_account_id = e.system_account_id
					WHERE re.employee_id = e.employee_id
				)
         		,"@",1)
	</sql>
	<sql id="getApproverName">
		SELECT SUBSTRING_INDEX (
				(SELECT sa.system_email
					FROM system_account sa LEFT JOIN employee e
						ON sa.system_account_id = e.system_account_id
					WHERE apa.approver_id = e.employee_id
				)
             ,"@",1)
	</sql>
	<sql id="getSuppervisorName">
		SELECT SUBSTRING_INDEX (
				(SELECT sa.system_email
					FROM system_account sa LEFT JOIN employee e
						ON sa.system_account_id = e.system_account_id
					WHERE sua.supervisor_id = e.employee_id
				)
             ,"@",1)
	</sql>
</mapper>